<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disponibilidade Hídrica</title>
</head>
<body  bgcolor="#E0FFFF">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form action="/Resultados" method="POST">
            <center><b><font size="5"> Insira o número da Durh:</font></b></center>
            <center><p><input type="text" name="numero_durh"/></p></center>
            <center><p><input type="submit" value="Obter resultados" /></p></center>
    </form>

</body>
</html>