<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disponibilidade Hídrica</title>
</head>
<body>
 <center><img src="https://portal.meioambiente.go.gov.br/sdl/imagens/logoSdlSemad.png;jsessionid=376BEEC68BF5A7A834DF7E19B17EFCE4"></center>
<br><br><br><br><br><br>
    <form action="/Resultados" method="POST">
            <center><b><font size="5"> Insira o número da Durh:</font></b></center>
            <center><p><input type="text" name="numero_durh"/></p></center>
            <center><p><input type="submit" value="Obter resultados" /></p></center>
    </form>

</body>
</html>