<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>
<body>

<br><br><br>
<form action="/Resultados" method="POST">
    <center><img src="https://portal.meioambiente.go.gov.br/cnd/resources/imagens/logoGoiasSemad.png" width="250"></center>
    <div align="center"><b><font size="5" color="#ff0000">{{rio_compare}}</font></b></div>
    <div align="center"><b><font size="5">Valores referentes à posição da {{numero_durh}}</font></b>
    <p><font size="5">{{analise}}</font></p>
    <table border="1">
    <tr>
    <td><font size="4">Município: {{mun_durh}}</font></td>
    <td><font size="4">Corpo D'água: {{corpodagua}}</font></td>
    <td><font size="4">Sub-bacia: {{subbacia}}</font></td>
    <td><font size="4">Lat.: {{lat}}</font></td>
    </tr>
    <tr>
    <td><font size="4">Área em km²: {{area}}</font></td>
    <td><font size="4">Nome rio sub: {{q_noriocomp}}</font></td>
    <td><font size="4">Processo: {{numeroproc}}</font></td>
    <td><font size="4">Uso: {{uso}}</font></td>
    <td><font size="4">Lon.: {{lon}}</font></td>
    </tr>
    </table>
        <br>
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
        <br>
    <a href="{{url_for('return_to')}}"><input type="button" value="Inserir nova DURH"></a></div>
        <br>
    <center><a href="{{url_for('correcao')}}"><input type="button" value="Realizar análise corrigida"></a></center>
</form>
</body>
</html>