<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
</head>
<body>

<br><br><br>
<form action="/teste" method="POST">
    <center><img src="https://portal.meioambiente.go.gov.br/cnd/resources/imagens/logoGoiasSemad.png" width="250"></center>
    <div align="center"><b><font size="5">Valores referentes à posição da </font></b>
        <br>
        <br>
    <a href="{{url_for('return_to')}}"><input type="button" value="Inserir nova DURH"></a></div>
</form>
</body>
</html>